@use 'helpers';

@font-face {
    font-family: Inter;
    src: url('assets/fonts/Inter.ttf');
}

$color-bg: hsl(197, 10%, 10%);
$color-bg-light: hsl(197, 25%, 20%);
$color-bg-lighter: hsl(197, 30%, 30%);
$color-bg-x-light: hsl(197, 30%, 40%);
$color-text: white;
$color-text-disabled: hsl(197, 14%, 60%);
$color-accent-1: #38a3a5ff;
$color-accent-2: #f4d35eff;
$color-accent-3: #ff6b35ff;
$color-accent-4: #750d37ff;

:root {
    --color-bg: #{$color-bg};
    --color-bg-light: #{$color-bg-light};
    --color-bg-lighter: #{$color-bg-lighter};
    --color-bg-x-light: #{$color-bg-x-light};
    --color-text: #{$color-text};
    --color-text-disabled: #{$color-text-disabled};
    --color-accent-1: #{$color-accent-1};
    --color-accent-2: #{$color-accent-2};
    --color-accent-3: #{$color-accent-3};
    --color-accent-4: #{$color-accent-4};
    --scrollbar-width: 5px;
    --panel-border-radius: 0.5rem;
    --ui-atom-border-radius: 0.25rem;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

button,
input {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-text-disabled);
}

a {
    color: var(--color-accent-2);
}

/* width */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-accent-1);
    border-radius: 2px;
}

.global-layout {
    &.cols {
        display: flex;
        height: 100%;
    }

    &.route-content {
        flex: 1;
        padding: 1rem;
        user-select: text;
    }

    &.app-content {
        flex: 1;
        overflow: auto;
    }
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.panel {
    background-color: var(--color-bg-light);
    border-radius: var(--panel-border-radius);
    padding: 0.5rem;
}

.panel-title {
    @include helpers.glow(1px);
    font-weight: 600;
    align-self: flex-start;
    color: var(--color-text);
    text-decoration: none;
    display: flex;
    align-items: center;
    .icon {
        font-size: 1.2rem;
        padding-top: 0.1rem;
    }
    .text {
        padding-left: 1rem;
    }
}

.capsule-select {
    display: flex;

    .item {
        color: var(--color-text-disabled);
        font-weight: 500;
        padding: 0.5rem 1.2rem;
        border-radius: 2px;
        cursor: pointer;
        &.selected {
            color: var(--color-text);
            border-bottom: 3px solid var(--color-accent-1);
            @include helpers.glow(1px);
        }
    }
}

.generic-btn {
    @include helpers.hoverGlow(1px);
    font-size: 1rem;
    background-color: var(--color-accent-1);
    border: none;
    color: var(--color-text);
    padding: 0.5rem 1rem;
    border-radius: var(--ui-atom-border-radius);
    font-weight: 500;
    cursor: pointer;
    &:hover {
        background-color: adjust-color($color: $color-accent-1, $lightness: 3%);
    }
}
